In [1]:
##This was a 3 hour data challenge (with another hour to prep slides) to help Rent the Runway predict whether an item was likely to fit or not

import pandas as pd
import numpy as np
import json

In [2]:
#Grabbing JSON line by line
lines1 = []
for line in open('C:/Users/PC/Desktop/Insight/RenttheRunway/renttherunway_final_data.json'):
    lines1.append(json.loads(line))

In [3]:
#Creating column labels
labels = ['fit', 'user_id', 'bust size', 'item_id', 'weight', 'rating',
  'rented for', 'review_text', 'body type', 'review_summary', 'category',
  'height', 'size', 'age', 'review_date']

In [4]:
df = pd.DataFrame.from_records(lines1, columns=labels)

In [5]:
df.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"

In [7]:
df.shape

(192544, 15)

In [8]:
df['fit'].value_counts()

fit      142058
small     25779
large     24707
Name: fit, dtype: int64

In [9]:
df['body type'].value_counts()

hourglass            55349
athletic             43667
pear                 22135
petite               22131
full bust            15006
straight & narrow    14742
apple                 4877
Name: body type, dtype: int64

In [10]:
df['category'].value_counts()

dress           92884
gown            44381
sheath          19316
shift            5365
jumpsuit         5184
top              4931
maxi             3443
romper           3070
jacket           2404
mini             1751
skirt            1531
sweater          1149
coat              980
blazer            782
shirtdress        729
blouse            651
down              464
pants             422
vest              278
shirt             277
cardigan          241
frock             205
culottes          188
tank              181
tunic             162
bomber            128
sweatshirt        125
suit              123
leggings          112
pant              107
                ...
poncho             48
peacoat            39
turtleneck         34
kimono             30
tee                22
trench             20
trousers           18
parka              17
kaftan             17
ballgown           16
cami               16
tight              15
hoodie             14
blouson            14
t-shirt            13
duster             12
combo               8
henley              8
skort               7
for                 7
skirts              7
overalls            6
jogger              6
jeans               5
caftan              4
sweatershirt        4
sweatpants          2
overcoat            2
crewneck            1
buttondown          1
Name: category, Length: 68, dtype: int64

In [11]:
df['rating'].value_counts()

10    124537
8      53391
6      10697
4       2791
2       1046
Name: rating, dtype: int64

In [12]:
#Creating a fit or not column
df['correct_fit'] = np.where(df['fit']=='fit', 1, 0)

In [13]:
df.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date,correct_fit
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016",1
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013",1
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015",1
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014",1
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016",1

In [14]:
#Creating a rowholder to sum in the future
df['rowholder']=1

In [15]:
#Calculating means of categories
correctfit1=df.groupby('category').mean()[['correct_fit']]

In [16]:
#Summing total number of rows by category
correctfitnums=df.groupby('category').sum()

In [17]:
#Merging Means and Sums
correctcomb=pd.merge(correctfit1, correctfitnums, on=['category'], how='left')

In [18]:
#Removing an irrelevant column
correctcomb2=correctcomb.drop(['size'], axis=1)

In [19]:
#Renaming columns
correctcomb3=correctcomb2.rename(index=str, columns={"correct_fit_x": "Percent_Fit", "correct_fit_y": "Number_Fit", "rowholder":"Total"})

In [20]:
#Are some categories prone to ill fit?
correctfit2=correctcomb3.sort_values("Percent_Fit", ascending=True)

In [21]:
correctfit2.head(20)

            Percent_Fit  Number_Fit  Total
category
buttondown     0.000000           0      1
jeans          0.000000           0      5
skort          0.142857           1      7
kaftan         0.235294           4     17
hoodie         0.357143           5     14
tight          0.466667           7     15
caftan         0.500000           2      4
kimono         0.533333          16     30
vest           0.586331         163    278
coat           0.595918         584    980
pullover       0.603448          35     58
pants          0.623223         263    422
ballgown       0.625000          10     16
shirt          0.631769         175    277
trouser        0.636364          35     55
peacoat        0.641026          25     39
tunic          0.641975         104    162
poncho         0.645833          31     48
parka          0.647059          11     17
cardigan       0.659751         159    241

In [22]:
#Does an item fit well?
correctfititem=df.groupby('item_id').mean()[['correct_fit']]
correctfititemnums=df.groupby('item_id').sum()

In [23]:
#Merging
correctcombitem=pd.merge(correctfititem, correctfititemnums, on=['item_id'], how='left')

In [24]:
#Removing an irrelevant column
correctcombitem2=correctcombitem.drop(['size'], axis=1)

In [25]:
#Renaming columns
correctcombitem3=correctcombitem2.rename(index=str, columns={"correct_fit_x": "Percent_Fit", "correct_fit_y": "Number_Fit", "rowholder":"Total"})

In [26]:
#Are some items likely to fit well?
correctfititem4=correctcombitem3.sort_values("Percent_Fit", ascending=False)

In [27]:
correctfititem4.shape

(5850, 3)

In [28]:
#Seeing how many items fit at least 90% of the time
howmanyfit=correctfititem4[correctfititem4.Percent_Fit > .90].count()
howmanyfit

Percent_Fit    1165
Number_Fit     1165
Total          1165
dtype: int64

In [29]:
howmanyfit2=correctfititem4[correctfititem4.Percent_Fit > .90]
howmanyfit2.head()

         Percent_Fit  Number_Fit  Total
item_id
2051998          1.0           3      3
1382903          1.0           3      3
1369656          1.0           2      2
1373203          1.0           3      3
2338852          1.0           2      2

In [30]:
#Of the items that fit over 90%, how many have at least 5 rentals
numberoverfive=howmanyfit2[howmanyfit2.Total>5]
numberoverfive.shape

(496, 3)

In [31]:
#Dropping any NA values
df2 = df[pd.notnull(df['fit'])]
df2 = df2[pd.notnull(df2['item_id'])]
df2 = df2[pd.notnull(df2['size'])]

In [32]:
df2.shape #oooo no NA values

(192544, 17)

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib

In [34]:
#Creating the dependent variable class
factor = pd.factorize(df2['fit'])

In [35]:
factor

(array([0, 0, 0, ..., 0, 0, 0], dtype=int64),
 Index(['fit', 'small', 'large'], dtype='object'))

In [36]:
#Creating fit definitions
df2.fit = factor[0]
definitions = factor[1]
print(df2.fit.head())
print(definitions)

0    0
1    0
2    0
3    0
4    0
Name: fit, dtype: int64
Index(['fit', 'small', 'large'], dtype='object')

In [37]:
df2.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date,correct_fit,rowholder
0,0,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016",1,1
1,0,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013",1,1
2,0,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015",1,1
3,0,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014",1,1
4,0,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016",1,1

In [38]:
#Splitting the data into independent and dependent variables
X = df2[['item_id', 'size']].values
y = df2.iloc[:,0].values
print('The independent features set: ')
print(X[:5,:])
print('The dependent variable: ')
print(y[:5])

The independent features set:
[['2260466' 14]
 ['153475' 12]
 ['1063761' 4]
 ['126335' 8]
 ['616682' 12]]
The dependent variable:
[0 0 0 0 0]

In [39]:
#Creating the train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)

In [40]:
#Running first RF Analysis
classifier = RandomForestClassifier(n_estimators = 150, criterion = 'gini', max_features=1, random_state = 42, oob_score = True)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=1, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
            oob_score=True, random_state=42, verbose=0, warm_start=False)

In [41]:
print(classifier.oob_score_)

0.7258669879785054

In [42]:
#Running second RF Analysis
classifier2 = RandomForestClassifier(n_estimators = 150, max_features = 2, criterion = 'gini', random_state = 42, oob_score = True)
classifier2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=2, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
            oob_score=True, random_state=42, verbose=0, warm_start=False)

In [43]:
print(classifier2.oob_score_)

0.7268018392332835

In [44]:
# Predicting the Test set results based on second model
y_pred = classifier2.predict(X_test)
#Reverse factorize (converting y_pred from 0s,1s and 2s to Fit, Small and Big
reversefactor = dict(zip(range(3),definitions))
y_test2 = np.vectorize(reversefactor.get)(y_test)
y_pred2 = np.vectorize(reversefactor.get)(y_pred)
# Making the Confusion Matrix
print(pd.crosstab(y_test2, y_pred2, rownames=['Actual Fit'], colnames=['Predicted Fit']))

Predicted Fit    fit  large  small
Actual Fit
fit            32065   1677   1755
large           4655   1459     88
small           4789    104   1544

In [45]:
#Getting Accuracy of Model
from sklearn.metrics import accuracy_score
accuracy1=accuracy_score(y_test2, y_pred2)

In [46]:
print(accuracy1)

0.7285191956124314

In [47]:
#Getting Precision, Recall, and F1
from sklearn.metrics import classification_report
print(classification_report(y_test2, y_pred2))

              precision    recall  f1-score   support

         fit       0.77      0.90      0.83     35497
       large       0.45      0.24      0.31      6202
       small       0.46      0.24      0.31      6437

   micro avg       0.73      0.73      0.73     48136
   macro avg       0.56      0.46      0.49     48136
weighted avg       0.69      0.73      0.70     48136